page-customer-management {
    [note-top] {
        font-size: 13px;
        align-self: flex-start;
    }
    [widget-search] {
        height: 40px;
    }
    [button-circle] {
        border-color: red;
    }
}
