// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:            #008eca,
  darkPrimary:        #1976D2,
  secondary:          #b1d355,
  danger:             #f61b1b,
  lightPrimary:       #BBDEFB,
  text_icons:         #FFFFFF,
  primaryText:        #212121,
  secondaryText:      #757575,
  divideColor:        #BDBDBD,
  dark:               #222,
  success:            #3c3,
  warning:            #f8d822,
);



.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

// alert message
.alert-md {
  .alert-title {
      font-size: 15px !important;
      font-weight: bold;
      text-align: center;
      padding-bottom: 10px;
  }
  .alert-head,
  .alert-input,
  .alert-message,
  .button-inner {
      color: theme-colors('textColors', 'primary') !important;
  }
  .button-inner {
      font-weight: bold;
  }
  .alert-head {
      padding: 20px 24px 15px 24px !important;
      text-align: center !important;
  }
  .alert-input-group {
      padding: 0 24px 10px 24px !important;
  }
  .alert-message {
      overflow-y: hidden;
      max-height: 40px !important;
      padding: 0 24px 0px 24px !important;
  }
  .alert-input {
      border-bottom: 1px solid theme-colors('mainColors', 'accent') !important;
  }
  .alert-wrapper {
      background-color: theme-colors('mainColors', 'primary') !important;
      border-radius: 10px !important;
  }
   ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: theme-colors('textColors', 'accent') !important;
  }
   ::-moz-placeholder {
      /* Firefox 19+ */
      color: theme-colors('textColors', 'accent') !important;
  }
   :-ms-input-placeholder {
      /* IE 10+ */
      color: theme-colors('textColors', 'accent') !important;
  }
   :-moz-placeholder {
      /* Firefox 18- */
      color: theme-colors('textColors', 'accent') !important;
  }
}




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
